body, * {
  -webkit-print-color-adjust: exact;
  font-family: 'Catamaran', sans-serif !important;
  font-family: 'Raleway', sans-serif !important;
  /*font-family: 'Roboto', sans-serif !important;*/
}

.container-fluid {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

[class*=col],
.hero{

  align-self: center;
}

img {
  margin: 20px auto;
}

.hero {
  width: 45vw;
  order: 101;
  text-align: center;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 15px 1px rgba(153,153,153,0.28);
}
